.title-brand {
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #fff;
    display: block;
}
.presentation-title {
    max-width: 900px;
    margin: -50px auto 45px;
}
.presentation-title img{
    width: 100%;
}
.section {
    z-index: 2;
    padding: 50px 0;
    position: relative;
    background-color: #fff;
}
.product-title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2 {
    font-size: 2.8em;
    font-weight: 300;
}
h3 {
    font-size: 1.825em;
    line-height: 1.4;
    margin: 10px 0 10px;
}
.modal-header .close {
    background-color: blue;
    color: white;
    margin-left: auto;
}
.product-details{
    margin-left: 20px;
}
.product-details .item{
    margin-left: 10px;
}
.product-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.product-details ul li{
    height: 500px;
    width: 250px;
    padding: 15px;
    float: left;
    margin: 1px;
}
.product-details ul li img{
    height: 400px;
    width: 215px;
}
.iteam-detail {
    text-decoration: none;
}
.image-name{
    height: 50px;
    width: 215px;
    display: block;
    text-align: center;
    margin-top: 25px;
}
.product-title .add, .product-title .viewMore {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #3524ce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    text-decoration: none;
}