<app-header [isHomePage]="homePage"></app-header>
<div class="main">
    <div class="top-content" style="background-image: url('assets/image/top_image.jpg')">
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title"><img src="assets/image/logo.png" alt="logo"></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="section">
            <div class="container">
                <div class="product-title">
                    <h2 class="title-name">Product</h2>
                </div>
                <div *ngFor="let product of productdetails" class="product-details">
                    <div class="product-title"> 
                        <h3 class="product-productName">{{ product.productName }} ({{product.products.length}})</h3>
                        <a href="javascript::" class="viewMore" (click)="viewMore(product.products)">View More</a>
                    </div>
                    <ul class="item">
                        <li *ngFor="let productdetail of product.products.slice(0, 5)">
                            <a href="javascript::" class="iteam-detail" (click)="onProductClick(productdetailmodel, productdetail)">
                                <img [src]="productdetail.imageURL" [alt]="productdetail.imageName">
                                <div class="image-name">{{ productdetail.imageName }}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #productdetailmodel let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            &times;
        </button>
    </div>
    <div class="modal-body">
        <img [src]="product?.imageURL" [alt]="product?.imageName" />
    </div>
</ng-template>