<div class="main">
    <div class="top-content" style="background-image: url('assets/image/top_image.jpg')">
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title"><img src="assets/image/logo.png" alt="logo"></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="section">
            <div class="container">
                <div class="title">
                    <h2 class="title-name">Product</h2>
                </div>
                <div *ngFor="let product of productdetails" class="product-details">
                    <div class="title"> 
                        <h3>{{ product.productName }}</h3>
                    </div>
                    <div class="item">
                        <span *ngFor="let productdetail of product.products">
                            <a href="#" (click)="onProductClick(productdetailmodel, productdetail)">
                                <img [src]="productdetail.imageURL" [alt]="productdetail.imageName">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #productdetailmodel let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            &times;
        </button>
    </div>
    <div class="modal-body">
        <img [src]="product?.imageURL" [alt]="product?.imageName" />
    </div>
</ng-template>