/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    height: 100%;
}
 ::after, ::before {
    box-sizing: border-box;
}
body{
    color: #66615b;
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.top-content {
    background-color: #b2afab;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-modal .modal-dialog {
  width: 1200px !important;
  max-width: 1200px !important;
}
.custom-modal .modal-content {
  height: 600px ;
  border-radius: 12px;
}
.custom-modal .modal-body {
  max-height: 600px;   
  overflow-y: auto;    
  text-align: center;  
}
.custom-modal .modal-body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}