.admin-login-container {
    width: 500px;
    height: 250px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}
.admin-login-container h1 {
    margin-bottom: 20px;
    color: #333;
}
.admin-login-username, .admin-login-password {
    margin-bottom: 15px;
}
.admin-login-username label, .admin-login-password label {
    margin-right: 10px;
}